<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Enter city name</ion-label>
    <ion-input [(ngModel)]="city"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="getWeather()">Get Weather</ion-button>

  <ion-card *ngIf="weatherData">
    <ion-card-content>
      <ion-card-title>{{ weatherData.name }},{{ weatherData.sys.country}}</ion-card-title>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/21425029.jpg" alt="Temperature">
        </ion-avatar>
        <p>Temperature: {{ weatherData.main.temp }} °C</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/23391021.jpg" alt="Humidity">
        </ion-avatar>
        <p>Humidity: {{ weatherData.main.humidity }}%</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/icon/6110395.jpg" alt="Pressure">
        </ion-avatar>
        <p>Pressure: {{ weatherData.main.pressure }} </p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>